/* Bestill */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .container {
    height: auto;
    width: 100%;
  }
  
  .navContainer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navItems {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navHeader {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    font-weight: "900";
  }
  
  .navChild {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    padding: 20px;
  }