* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    width: 100%;
}

.container #home {
    height: 100vh;
    width: 100%;
    background-image: url('../img/atom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5px;
}

/* nav */

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 5px 0px 10px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    opacity: 0.99;
}

.nav .logo{
    font: 1.1em sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: sans-serif;
}

.nav li {
    list-style-type: none;
    margin: 2rem;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.nav li a:hover {
    text-decoration: none;
    color: #4444;
    text-decoration: underline;
}

/* Nav Button */
.navBtn {
    box-shadow: #fff 1px 1px 10px;
    background-color: #333;
    border-radius: 5px;
    padding: 0.6rem 1.1rem;
}

.navBtn:hover {
    background-color: #333;
    border: 0.5px #333 solid;
    border-radius: 5px;
    padding: 0.6rem 1.1rem;
    text-decoration: underline;
}

/* About */

#about {
    height: 100vh;
    width: 100%;
    display: block;
    color: white;
    background-color: #333;
}

#about .heading {
    text-align: center;
    padding: 50px 0px;
}

.flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px 250px 200px
}

.left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px 250px 200px
}